.image-container {
  text-align: center;
  margin-top: 20px;
}
.image-container{
  display: block;
  margin: 40;
}
.image-container{
  border: 2px solid #000; /* 2px solid black border */
}
.image-with-padding {
  padding: 20px;
}
.i-love-pringles{
  border: 2px solid #339;
 padding: 20px;
}
